alembic==1.8.1
click==8.1.3
cycler==0.10.0
et-xmlfile==1.1.0
Flask==2.1.2
Flask-Login==0.6.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
importlib-metadata==4.11.3
importlib-resources==5.9.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==0.17.0
kiwisolver==1.2.0
Mako==1.2.2
MarkupSafe==2.1.1
matplotlib==3.2.1
mpmath==1.1.0
numpy==1.18.4
openpyxl==3.0.9
pandas==1.0.3
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.20.0
pytz==2020.1
scikit-learn==0.23.2
scipy==1.4.1
six==1.14.0
SQLAlchemy==1.4.36
sympy==1.5.1
threadpoolctl==2.1.0
typing_extensions==4.2.0
Werkzeug==2.1.2
xlrd==1.2.0
zipp==3.8.0
