<!DOCTYPE HTML>

<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <head>
        {% if title %}
            <title>{{ title }} - nUWAy</title>
        {% else %}
            <title>nUWAy</title>
        {% endif %}

        <link rel = 'stylesheet' href = '../static/css/base.css'>
        <link rel = 'stylesheet' href = '../static/css/adminlogin.css'>


         <!-- To use Jquery -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous">
        </script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        
        <!-- To use bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

        <!-- To use google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

         <!-- To use Jquery -->
         <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
         crossorigin="anonymous"></script>
         
    </head>

    <body>
        <!-- navbar -->
        {% block navbar %}
            <!--add logo-->


            <div class="nav-links" id="nav-links">
                <i class="fa fa-times" onclick="closeMenu()"></i>
                <ul>
                    {% if viewteam is defined %}
                    <li class="navbar active"><a href="{{ url_for('viewteam') }}">View Team</a></li>
                    {% else %}
                    <li class="navbar"><a href="{{ url_for('viewteam') }}">View Team</a></li>
                    {% endif %}

                    {% if approval is defined %}
                    <li class="navbar active"><a href="{{ url_for('approval') }}">Pending Approval</a></li>
                    {% else %}
                    <li class="navbar"><a href="{{ url_for('approval') }}">Pending Approval</a></li>
                    {% endif %}
                    
                    {% if upevent is defined %}
                    <li class="navbar active"><a href="{{ url_for('updateevents') }}">Update Events</a></li>
                    {% else %}
                    <li class="navbar"><a href="{{ url_for('updateevents') }}">Update Events</a></li>
                    {% endif %}
                    
                    <li class="navbar"><a href="{{ url_for('logout') }}">Logout ({{ad.email}})</a></li>
                </ul>
                <i class="fa fa-bars" onclick="openMenu()"></i>
            </div>



            
        {% endblock %}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

        <script>
            var navlinks=document.getElementsById("nav-links");

            function openMenu(){
                navlinks.style.left = '0';
            }

            function closeMenu(){
                navlinks.style.left = '-200px';
            }
        </script>
    </body>

</html>