{% extends "adminbase.html" %}

{% block content %}
<link rel = 'stylesheet' href = '../static/css/approval.css'>

<h2 class="pagetitle">Feedback Approval</h2>

<div class="container-holder">
    <div class="container-fluid text-center" id="feedbackcontainer">
        <div class="row">
            <div class="col-1 d-flex text-center">
                <h6 style="margin:auto">ID</h6>
            </div>
            <div class="col-5 d-flex text-center">
                <h6 style="margin:auto">Feedback</h6>
            </div>
            <div class="col-3 d-flex text-center">
                <h6 style="margin:auto">Username</h6>
            </div>
            <div class="col-3 d-flex text-center">
                <h6 style="margin:auto">Action</h6>
            </div>
        </div>
    
    
        {% for feedback in feedbacks %}

        <div id={{feedback.id}} class="row">
            <div class="col-1 d-flex">
                <p style="margin:auto;">{{feedback.id}}</p>
            </div>
            <div class="col-5 d-flex">
                <p style="margin:auto;">{{feedback.feedback}}</p>
            </div>
            <div class="col-3 d-flex">
                <p style="margin:auto;">{{feedback.name}}</p>
            </div>
            <div class="col-3 d-flex">
                <p class="approveBtn" style="margin:auto">
                    {% if feedback.approved %}
                    <button class="btn btn-success" style="font-size:10px" disabled aria-disabled="true">Post</button>
                    {% else %}
                    <button class="btn btn-success" style="display: inline; font-size:10px" onclick="approveFeedback('{{feedback.id}}')">Post</button>
                    {% endif %}
                </p>
                <p style="margin:auto">
                    <button class="btn btn-danger" style="font-size:10px" onclick="dismissFeedback('{{feedback.id}}')">Dismiss</button>
                </p>
            </div>
            
        </div>
        {% endfor %}
    </div>
</div>

<br><br><br><br><br>

<h2 class="pagetitle">Galleries Approval</h2>

<div class="container-holder">
    <div class="container-fluid text-center" id="galleriescontainer">
        <div class="row">
            <div class="col-1 d-flex text-center">
                <h6 style="margin:auto">ID</h6>
            </div>
            <div class="col-5 d-flex text-center">
                <h6 style="margin:auto">Image</h6>
            </div>
            <div class="col-3 d-flex text-center">
                <h6 style="margin:auto">Username</h6>
            </div>
            <div class="col-3 d-flex text-center">
                <h6 style="margin:auto">Action</h6>
            </div>
        </div>
    
    
        {% for image in images %}

        <div id={{image.id}} class="row">
            {% if image.approved is sameas True %}
            {% else %}
            <div class="col-6 d-flex">
                <p style="margin:auto;">{{image.img}}</p>
            </div>
            <div class="col-3 d-flex">
                <p style="margin:auto;">{{image.name}}</p>
            </div>
            <div class="col-3 d-flex">
                <p style="margin:auto">
                    <button class="btn btn-success" style="font-size:10px" onclick="approveImage('{{image.id}}')">Post</button>
                    <button class="btn btn-danger" style="font-size:10px" onclick="dismissImage('{{image.id}}')">Dismiss</button>
                </p>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>


<br><br><br><br><br>


<h2 class="pagetitle">Sign Up Request Approval</h2>

<div class="container-holder">
    <div class="container-fluid text-center" id="signupcontainer">
        <div class="row">
            <div class="col-1 d-flex text-center">
                <h6 style="margin:auto">ID</h6>
            </div>
            <div class="col-4 d-flex text-center">
                <h6 style="margin:auto">Name</h6>
            </div>
            <div class="col-4 d-flex text-center">
                <h6 style="margin:auto">Email</h6>
            </div>
            <div class="col-3 d-flex text-center">
                <h6 style="margin:auto">Review</h6>
            </div>
        </div>
    
    
        {% for request in requests %}

        <div id={{request.id}} class="row">
            <div class="col-1 d-flex">
                <p style="margin:auto;">{{request.id}}</p>
            </div>
            <div class="col-4 d-flex">
                <p style="margin:auto;">{{request.name}}</p>
            </div>
            <div class="col-4 d-flex">
                <p style="margin:auto;">{{request.email}}</p>
            </div>
            <div class="col-3 d-flex">
                <p style="margin:auto">
                    {% if request.approved %}
                    <button disabled aria-disabled="true" style="font-size:10px" class="btn btn-success">Join Team</button>
                    {% else %}
                    <button class="btn btn-success" style="display: inline; font-size:10px" onclick="approveRequest('{{request.id}}')">Join Team</button>
                    {% endif %}

                    <button class="btn btn-danger" style="font-size:10px" onclick="dismissRequest('{{request.id}}')">Dismiss</button>
                </p>
            </div>

        </div>
        {% endfor %}
    </div>
</div>



<script>
    function approveFeedback(feedbackid){

        var target = JSON.stringify(feedbackid)
        $.ajax({
            url: 'approveFeedback',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(target)
        })
        window.location.reload()
    }

    function dismissFeedback(feedbackid){
        //removing user on front end using DOM
        removeFb = document.getElementById(feedbackid)
        parent = document.getElementById('feedbackcontainer')
        parent.removeChild(removeFb)

        var target = JSON.stringify(feedbackid)
        $.ajax({
            url: 'dismissFeedback',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(target)
        })
    }
    

    function approveRequest(userid){

        var target = JSON.stringify(userid)
        $.ajax({
            url: 'joinTeam',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(target)
        })
        window.location.reload()
    }

    function dismissRequest(userid){
        //removing user on front end using DOM
        removeUser = document.getElementById(userid)
        parent = document.getElementById('signupcontainer')
        parent.removeChild(removeUser)

        var target = JSON.stringify(userid)
        $.ajax({
            url: 'denyJoinTeam',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(target)
        })
    }
</script>

{% endblock %}