{% extends "base.html" %}

{% block content %}
<section class="info" id="contact">
    <div class="sec-header">Contact Us</div>
    
        <div class="col" id="galleries">
            <h5>Share your pictures!</h5><br>
            <div class="galleries-col">
                <form>
                    <input class="file-upload-input" type="file" onchange="readURL(this)" accept="Image/*" alt="image">
                    
                    <input type="submit" value="Upload">
                </form>
            </div>
        </div>

        <br>
        <div class="col">
            <form>
                <h5>Share your thoughts!</h5><br>
                <!-- Feedback -->
                <label for="feedback" style="font-size: 10px;">Feedback:</label>
                <input type="text" id="feedback" name="feedback" placeholder="Write something...">
                <br>
                <!-- Name -->
                <label for="name" style="font-size: 10px;">Name:</label>
                <input type="text" id="name" name="name" placeholder="Anonymous" required>
                <br>
                <!-- Submit button -->
                <button type="submit" onclick="submit()">Submit</button>
            </form>
        </div>
        <br><br>

        <div>
            <p class="smalltext">The University of Western Australia
                <br>35 Stirling Highway, Crawley 6009 WA
                <br>nuway@uwa.edu.au
                <br>0123456789
            </p>
            <br>
        </div>
</section>


<script>
    function getFeedback(){
        var feedback = document.getElementById('feedback').value
        return feedback
    }

    function getName(){
        var name = document.getElementById('name').value
        return name
    }

    function submit(){
        // retrieve form data
        var feedback = getFeedback()
        var name = getName()
        data = {
            feedback: feedback,
            name: name
        }

        // submitting data
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function(){
            if (xhttp.readyState === XMLHttpRequest.DONE) {
                const status = xhttp.status;
                if (status === 0 || (status >= 200 && status < 400)) {
                    // The request has been completed successfully
                    console.log('Submitted!')
                    console.log(xhttp.responseText);
                } else {
                    console.log(xhttp.responseText);
                    // Oh no! There has been an error with the request!
                }
            }
        }
        //xhttp.open('POST', '/contact', true);
        //xhttp.setRequestHeader('Content-Type', 'application/json');
        //xhttp.send(JSON.stringify(data));

        $.ajax({
            url: 'feedback',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data)
        })
    }
</script>

{% endblock %}