{% extends "base.html" %}

{% block content %}
<section class="info" id="contact">
    <div class="sec-header">Contact Us</div>

    <div class="col">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <h5>Share your thoughts!</h5><br>
            
            <div class="container">
                <!-- Feedback -->
                <p>
                    <div class="label">{{ form.feedback.label }}</div>
                    {{ form.feedback }}<br>
                    {% for error in form.feedback.errors %}
                    <span style="color: red;"> [{{ error }}]</span>
                    {% endfor %}
                </p>
                <!-- Name -->
                <p>
                    <div class="label"> {{ form.name.label }}</div>
                    {{ form.name }} <br>
                    {% for error in form.name.errors %}
                    <span style="color: red;"> [{{ error }}]</span>
                    {% endfor %}
                </p>
                <!-- Submit button -->
                <p>
                    <div style="font-size:10px" class = "submit"> {{ form.submit() }}</div>
                </p>
            </div>
        </form>
    </div>

    <div class="col" id="galleries">
        <h5>Share your pictures!</h5><br>
        <div class="galleries-col">
            <form action="../upload" enctype="multipart/form-data" method="POST">
                <input class="file-upload-input" id="image_input" name="image_input" style="font-size:10px" type="file" onchange="" accept="image/*" alt="image">
                    
                <input type="submit" value="Upload" style="font-size:10px"></input>
            </form>
        </div>
    </div>
    
    <br><br>

    <div>
        <p class="smalltext">The University of Western Australia
            <br>35 Stirling Highway, Crawley 6009 WA
            <br>nuwayuwa@gmail.com
            <br>0123456789
        </p>
        <br>
    </div>
</section>



{% endblock %}