{% extends "base.html" %}

{% block content %}
<section class="events" id="events">
    <div class="sec-header">Upcoming Events</div>

        {% for event in events %}
        <div id="event.id" class="events-col">
            <div>
                <h2 style="margin:auto;">{{event.name}}</h2>
            </div>
            <div class="smalltext">
                <p style="margin:auto;"><strong>Date:</strong> {{event.date}}</p>
            </div>
            <div class="smalltext">
                <p style="margin:auto;"><strong>Info:</strong> {{event.info}}</p>
            </div>

        </div>
        {% endfor %}
    </div>
        
</section>
{% endblock %}