{% extends "base.html" %}

{% block content %}
<section class="events" id="events">
    <div class="sec-header">Upcoming Events</div>
    <div class="row">
        <div class="events-col">
            <h2>Event 1</h2>
            <p class="smalltext">
                info...
                <br><strong>Date:</strong> ...
                <br><strong>Time:</strong>0900-0100
            </p>
        </div>
        <div class="events-col">
            <h2>Event 2</h2>
            <p class="smalltext">
                info...
                <br><strong>Date:</strong> ...
                <br><strong>Time:</strong>0900-0100
            </p>
        </div>
        <div class="events-col">
            <h2>Event 3</h2>
            <p class="smalltext">
                info...
                <br><strong>Date:</strong> ...
                <br><strong>Time:</strong>0900-0100
            </p>
        </div>
        
    </div>
</section>
{% endblock %}