{% extends "base.html" %}

{% block content %}
<section class="info" id="media">
    <div class="sec-header">Notice us on Media</div>
    
        <div class="course-col">
            <a href="https://therevproject.com/vehicles/nuway.php" target="_blank">The REV Project</a></div>
        <div class="course-col">
            <a href="https://thewest.com.au/news/traffic/university-of-wa-in-aussie-first-with-student-designed-driverless-bus-called-nuway-ng-b881904567z" target="_blank">The West Australian</a><br>
            <p class="smalltext">Prof. Thomas Brauni: "While most commercial autonomous shuttles can only follow a fixed pre-programmed path and cannot deviate, nUWAy can caluclate its path to any point on campus."</p>
        </div>
        <div class="course-col">
            <a href="https://www.uwa.edu.au/news/Article/2021/June/UWA-students-first-in-Australia-to-build-brains-of-autonomous-bus" target="_blank">UWA: Students first to build 'brains' of autonomous bus</a>
            <p class="smalltext">UWA Engineering Student Jai Castle: "It's just fantastic to have worked on technology at the firefront of the transport industry that might see vehicles advance in their capabilities in the future."</p>
        </div>
        <div class="course-col">
            <a href="https://campusmorningmail.com.au/news/uwa-goes-its-own-way/" target="_blank">Campus Morning Rail</a>
            <p class="smalltext">UWA goes its own way</p>
        </div>
        <div class="course-col">
            <a href="https://www.perthnow.com.au/news/transport/university-of-wa-in-aussie-first-with-student-designed-driverless-bus-called-nuway-ng-b881904575z" target="_blank">perthnow: University of WA in Aussie first with student-designed driverless bus called nUWAy</a>
            <p class="smalltext">"It is able to drive around obstacles, where it is safe to do so"</p>
        </div>
        <div class="course-col">
            <a href="https://patrec.org" target="_blank">Patrex: We Move Perth Forward</a>
        </div>
</section>

<section class="feedback" id="feedback">
    <div class="sec-header">From our passengers</div>
    <div class="row">
        <div class="feedback-col">
            <img src="event1.jpg">
            <div>
                <p class="smalltext">comments abc encdewioceoiwj cwojcdieow ceiwjc eijdwo edwn c oeidj oweixnowencoi</p>
                <h4>AAA</h4>
            </div>
        </div>
        <div class="feedback-col">
            <img src="event2.jpg">
            <div>
                <p class="smalltext">comments abc encdewioceoiwj cwojcdieow ceiwjc eijdwo edwn c oeidj oweixnowencoi</p>
                <h4>BBB</h4>
            </div>
        </div>
    </div>
</section>
{% endblock %}